dist/
tmp/
app/**/*.js
app/**/*.js.map

node_modules/
bower_components/

.idea/
.vscode/

.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

e2e/*.js
e2e/*.map

.DS_Store

src/tailwind-output.css
